import 'dart:async';

import 'package:dio/dio.dart';
import 'package:retrofit/retrofit.dart';

{{#operations}}
{{#modelImports}}import 'package:{{pubName}}/model/{{.}}.dart';
{{/modelImports}}
{{#fullImports}}import '{{.}}';
{{/fullImports}}

part 'api.g.dart';

@RestApi()
abstract class {{clientName}} {
  factory {{clientName}}(Dio dio, {String baseUrl}) = _{{clientName}};

  {{#operation}}
    {{{summary}}}
    @{{httpMethod}}("{{path}}")
    Future<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}> {{nickname}}(
    {{#queryParams}}
      {{{description}}}
      @Query("{{baseName}}") {{{dataType}}} {{paramName}},
    {{/queryParams}}
    {{#bodyParam}}
      @Body() {{{dataType}}} {{paramName}},
    {{/bodyParam}}
    );
  {{/operation}}
}
{{/operations}}