@JsonSerializable()
class {{classname}} {{#parent}}extends {{{parent}}}{{/parent}} {
  {{#vars}}{{#description}} /* {{{description}}} */{{/description}}
  final {{{datatype}}} {{name}};

  {{/vars}}
  const {{classname}}({
    {{#parentModel}}
    {{#allVars}}{{dataType}} {{name}},{{/allVars}}
    {{/parentModel}}
    {{#vars}}this.{{name}},{{/vars}}
  }){{#parentModel}}: super({{#allVars}}{{name}}: {{name}},{{/allVars}}){{/parentModel}};

  {{classname}} copyWith({
    {{#allVars}}
    {{{dataType}}} {{name}},
    {{/allVars}}
  }) {
    return {{classname}}(
      {{#allVars}}
      {{name}}: {{name}} ?? this.{{name}},
      {{/allVars}}
    );
  }

  @override
  bool operator ==(dynamic other) {
    return identical(this, other) ||
      (other is {{classname}} 
        {{#allVars}}
        && (identical(other.{{name}}, {{name}}) || const DeepCollectionEquality().equals(other.{{name}}, {{name}}))
        {{/allVars}}
      );
  }

  @override
  int get hashCode =>
      runtimeType.hashCode
      {{#allVars}}
      ^ const DeepCollectionEquality().hash({{name}})
      {{/allVars}};

  factory {{classname}}.fromJson(Map<String, dynamic> json) => _${{classname}}FromJson(json);
  
  Map<String, dynamic> toJson() => _${{classname}}ToJson(this);

  @override
  String toString() {
    return '{{classname}}[{{#allVars}}{{name}}=${{name}}, {{/allVars}}]';
  }
}