import 'package:json_annotation/json_annotation.dart';
import 'package:collection/collection.dart';
import 'package:{{pubName}}/common.dart';

{{#models}}
  {{#model}}
    {{#imports}}
      import 'package:{{pubName}}/model/{{.}}.dart';
    {{/imports}}
    part '{{classFilename}}.g.dart';
    {{#isEnum}}{{>enum}}{{/isEnum}}{{^isEnum}}{{>class}}{{/isEnum}}
  {{/model}}
{{/models}}
